@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');


@media (max-width:569px) {
    .card{
        width:100%;
        height:auto;
    }
    .logo{
        font-size: 20px;
    }
    button{
        padding-right: 0;
    }
}

body{
    font-family: 'Noto Serif TC', serif;
    margin: 0;
    min-height: 100vh;
    background-color: bisque;
}

a{
    color: black;
    text-decoration: none;
}

.link:hover{
    color: rgb(229, 136, 14);
    cursor: pointer;
}



.header-content{
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 45vw;
    text-align: left;
    align-items: center;
    justify-content:left;
}

.header-nav{
    width: 300px;
    display: flex;
    justify-content: space-between;
}



.line{
    background-color: white;
    height: 5px;
}

.pair{
    min-height: 100vh;
    min-width: 60vw;
}

.container{
    background-color: bisque;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: auto;
    min-height: 100vh;

}

.change_info{
    display:flex;
    /*系統預設row(水平)*/
    flex-direction:column;
    margin-bottom:10px;
    /*設置網格行與列之間的間隙*/
    gap: 5px;
    text-align: left;
}

.change_time{
    padding-right: 10px;
    padding-top: 10px;
    gap: 5px;
}


.card{
    width: 18rem;
}

/*
.get_info{
    position: relative;
    border-radius: 8px;
    background-color: white;
    height:700px;
    width:600px;
    border-style: none;
}

.get_info th{
    border-bottom: solid 1px;
    text-align: center;
}

.get_info td{
    border-bottom: solid 1px;
    text-align: center;
    
}

.get_info button{
    font-family: 'Noto Serif TC', serif;
    border-radius: 5px;
    border: 3px;
}
*/

button{
    padding-right: 10px;
}

button:hover{
    cursor: pointer;
}



.img{
    position: absolute;
    left: 60px;
    bottom: 30px;
    width: 40%;
    height: 20%;
}