@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*{
    font-family:'cwTeXYen', Comic Sans MS;  
}

@media (max-width:569px) {
    .container{
        min-width: 40%;
        height: 40%;
    }
    
}


body{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-creative-road-pavement-background-image_262322.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Noto Serif TC', serif;
    margin: 0;
}
body:hover{
    background: radial-gradient(transparent 55%, #3D7878 100%),url("https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-creative-road-pavement-background-image_262322.jpg");
    height: 100%;       
    min-width: 100%;     
    background-size: cover;
}
.Project_Name{
    color: #3C3C3C;
    font-size: 150%;
    position:relative;   
    margin: auto;
    top: -150px;
    text-align:center;
}
.title, .submit, .Login_up{
    color: #3C3C3C;
    margin: 10px;
    text-align:center;
}
#account, #password{
    width: 200px;
    height: 25px;
    margin: 10px;
    color: #336666;
}
#container{
    padding: 10px;
    width: 280px;
    height: 250px;
    background-color: #FFF4C1;
    border-radius: 60px;
    border-top: 15px groove #A3D1D1;
    border-bottom: 10px ridge #A3D1D1;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    position:relative;   
    margin: auto;
    top: -150px;
    text-align:center;
}
.bg1{
    width: 200px;
    height: 200px;
    position: relative;
    top:-50px;
    left: 350px;
}
.bg2{
    width: 200px;
    height: 200px;
    position: relative;
    top: -85px;
    left: 160px;
}